footer{
    background-color: #151825;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 30px 20px;
}

.Footer-contact{

}

h2{
    font-size: 3rem;
    padding-bottom: 5px;
    text-align: center;
}

.Footer-description{
    text-align: center;
    padding-bottom: 10px;
}


.Footer-contactList--item{

}

.Footer-info{
    cursor: pointer;
    margin: 20px 0;
}

summary{
    align-items: center;
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
    padding-bottom: 6px;
    margin: 0 auto;
}

summary:focus{
    outline: none;
}

summary::-webkit-details-marker {
    display: none;
}

.summaryClosed::after {
    content: "+";
    font-size: 1.5rem;
    margin-left: 10px;
}

.summaryOpened::after{
    content: "-";
    font-size: 1.5rem;
    margin-left: 10px;
}

.Footer-info--item{
    padding-bottom: 20px;
}

.Footer-info--item-title{
    /* display: inline-block;
    font-size: 1.8rem;
    padding-bottom: 6px; */
}

.Footer-info--list{
    display: flex;
    justify-content: center;
    text-align: justify;
    flex-wrap: wrap;
}

.Footer-info--list-item{
    flex-shrink: 0;
    padding: 2.5px 0;
}

.Footer-info--list-item::after{
    content: "|";
    font-size: 2rem;
    padding: 0 5px;
    vertical-align: sub;
}

.Footer-media{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.Footer-link{
    color: white;
    font-size: 4rem;
    margin: 0 10px;
    text-decoration: none;
}

.Footer-link:hover{
    color: #ff5a02;
    transition: .3s;
}

.Footer-facebook-icon{
    font-size: 4.4rem;
}

.Footer-instagram-icon{

}