form{
    margin: 10px auto;
    width: 90%;
}

label{
    font-size: 1.5rem;
    margin-bottom: 10px;
    display: block;
}

input{
    height: 30px;
    padding: 2.5px 5px;
    width: 100%;
}

.form-label-description{
    margin-bottom: 3px;
}

.form-button{
    background-color: #ff5a02;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    margin: 15px auto;
    padding: 10px 20px;
}