.Success-title{
    padding-bottom: 0;
}

.Success-title-item{
    margin-bottom: 15px;
}

.Success-link{
    color: #000000a8;;
    display: block;
    font-size: 2rem;
    padding-bottom: 15px;
    text-align: center;
}

